* {
    margin: 0;
    padding: 0;
}

html {
    --bg: #F5F6F7;
    --color-text: #9C9C9C;
    --color-light-blue: #29A8FF;
    --color-shadow: -4px -2px 4px 0px #FFFF,
        4px 2px 6px 0px #DFE4EA;
    --color-inset-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.8),
        inset 2px 2px 6px rgba(0, 0, 0, 0.1);
    --color-equal-shadow: -2px -2px 8px rgba(3, 169, 244, 0.01),
        2px 2px 6px rgb(0, 0, 0, 0.3);
    --color-equal-inset-shadow: inset -2px -2px 6px rgba(0, 217, 255, 0.5),
        inset 2px 2px 6px rgba(0, 0, 0, 0.3);
}

html[data-theme="dark"] {
    --bg: #131419;
    --color-text: #FFFF;
    --color-light-blue: #29A8FF;
    --color-shadow: -3px -3px 10px rgba(255, 255, 255, 0.05),
        3px 3px 15px rgba(0, 0, 0, 0.5);
    --color-inset-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.01),
        inset 2px 2px 6px rgba(0, 0, 0, 0.8);
    --color-equal-shadow: -2px -2px 6px rgba(3, 169, 244, 0.01),
        2px 2px 6px rgba(0, 0, 0, 0.8);
    --color-equal-inset-shadow: inset -2px -2px 6px rgba(0, 217, 255, 0.2),
        inset 2px 2px 6px rgba(0, 0, 0, 0.5);
}

body {
    background: var(--bg);
    font-family: 'Poppins', sans-serif;
}

button {
    outline: none;
}

a {
    text-decoration: none;
}

a span:hover {
    color: var(--color-light-blue);
}

.wrapper {
    width: 300px;
    height: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: var(--bg);
    box-shadow: var(--color-shadow);
    overflow: hidden;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 28px;
}

.header span {
    color: var(--color-text);
    font-size: 18px;
}

.header span:nth-child(1),
.header span:nth-child(2) {
    cursor: pointer;
}

.fas {
    cursor: pointer;
}

label input[type="checkbox"] {
    appearance: none;
}

label input[type="checkbox"]:checked~.fas {
    color: var(--color-light-blue);
}

#calculator {
    padding: 30px 20px;
}

.group {
    width: 185px;
    float: left;
}

.top-section {
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 4px 6px;
    border-radius: 30px;
    margin-left: 10px;
    background: var(--bg);
    box-shadow: var(--color-shadow);
}

.top-section button {
    margin-top: 2px;
}

.middle-section {
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
    margin-left: 10.4px;
    border-radius: 30px;
}

.middle-section button {
    margin: 4px 5px;
    color: var(--color-text);
    font-weight: 600;
}

.side-section {
    float: left;
    height: 254px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px 4px;
    border-radius: 30px;
    margin-left: 10px;
    background: var(--bg);
    box-shadow: var(--color-shadow);
}

.operator, .number {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: var(--bg);
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    box-shadow: var(--color-shadow);
}

.equal {
    background-color: var(--color-light-blue);
    color: #FFFF !important;
    box-shadow: var(--color-equal-shadow);
}

.operator {
    color: var(--color-light-blue);
}

.operator:active,
.number:active {
    box-shadow: var(--color-inset-shadow);
}

.number:hover {
    color: var(--color-light-blue);
}

.equal:active {
    background: var(--color-light-blue);
    box-shadow: var(--color-equal-inset-shadow);
}